@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 16px;
}

.card {
  width: 100%;
  height: 168px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: var(--white);
  transition: box-shadow 0.3s ease;

  .header {
    position: relative;
    background: var(--body-color);
    width: 216px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 180px;
      height: 180px;
      box-sizing: border-box;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 60px solid #d8dfe0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      span {
        @include text-ellipsis();
        font-size: 16px;
        font-weight: 500;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      span {
        @include text-ellipsis();
        font-size: 13px;
        color: var(--green-text);
      }
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }
}
