.home {
  padding-bottom: 50px;
  .category {
    padding: 56px 0 61px 0;
    background: var(--white);
    margin-bottom: 32px;
    @media (max-width: 767px) {
      padding: 0;
    }

    .mobileGrid {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 24px;
      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 16px;
        padding: 16px;
        button {
          all: unset;
          cursor: pointer;
          font-size: 15px;
          font-weight: 400;
          color: var(--muted-green-color);
          transition: opacity 0.3s ease-in-out;
          &:hover {
            opacity: 0.9;
          }
        }
        span {
          width: 100%;
          height: 1px;
          margin: 0 auto !important;
          background: rgba(89, 142, 147, 0.3);
        }
      }
      .languageBox {
        width: 100%;
        padding: 8px 0;
        background: var(--body-color);
        border-bottom: 1px solid rgba(89, 142, 147, 0.3);
      }
    }
  }
  h2 {
    font-weight: 600;
    font-size: 32px;
    color: var(--black-text-color);
    text-align: center;
    margin: 16px 0 24px !important;
    @media (max-width: 767px) {
      font-weight: 500;
      font-size: 22px;
      text-align: start;
    }
  }
}
