@mixin input {
  max-width: 100%;
  background-clip: padding-box;
  background: var(--body-color);
  border: 2px solid var(--body-color);
  border-radius: 4px;
  color: var(--green-text);
  font-size: 16px;
  line-height: 20px;
  outline: 0px;
  resize: none;
  padding: 12px 16px;
  @media (max-width: 767px) {
    padding: 12px;
    font-size: 14px;
  }
}

.inputBox {
  width: 100%;
  .label {
    width: 100%;
    margin: 0 !important;
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    @media (max-width: 767px) {
      font-size: 13px;
    }
    .textarea {
      @include input();
      min-height: 192px;
      border-bottom: 2px solid transparent !important;
      &:focus {
        border-bottom: 2px solid !important;
      }
    }
    .input {
      @include input();
      transition: border 0.3s ease;
      border-bottom: 2px solid transparent !important;
      &:focus {
        border-bottom: 2px solid !important;
      }
    }
  }
  .alert {
    font-size: 14px;
    line-height: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
    color: rgb(255, 86, 54) !important;
  }
}
