@mixin flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.loginPage {
  width: 100%;
  min-height: 100vh;
  padding: 40px 8px 48px;
  background: var(--blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    padding: 16px;
    justify-content: flex-start;
  }

  .loginBox {
    width: 400px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    background: #fff;
    font-size: 12px;
    color: #71848d;
    border-radius: 4px;
    overflow: hidden;
    @media (max-width: 767px) {
      width: 100%;
    }
    .register {
      @include flex-start();
      gap: 24px;
      padding: 32px 32px 46px;
      @media (max-width: 767px) {
        padding: 32px 24px 46px;
      }
      p {
        font-size: 12px;
        line-height: 14px;
        margin: 0px 0px 16px;
        color: #7f9799;
      }
      label {
        font-size: 14px;
        margin: 0px 0px 16px;
        color: #7f9799;
      }
      .btnBox {
        @include flex-start();
      }
      .disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
