:root {
  --green: #002f34;
  --green-text: #002f34;
  --body-color: #f2f4f5;
  --muted-color: #c6c6c6;
  --muted-green-color: #406367;
  --muted-green-color-2: #7f9799;
  --black-text-color: #002f34;
  --white: #ffff;
  --syan-color: rgb(35, 229, 219);
  --blue-color: #3a77ff;
}
