@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin column {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.box {
  @include column();
  .top {
    width: 100%;
    @include between();
    @media (max-width: 630px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .number {
      @include between();
    }
  }
  .form {
    @include column();
  }
}
