.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: 500px) {
    min-width: 100%;
  }

  .header {
    position: relative;
    background: var(--body-color);
    min-height: 170px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 200px;
      box-sizing: border-box;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 60px solid #d8dfe0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .footer {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 112px;
    padding: 16px;
    position: relative;
    word-break: break-word;

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 18px;

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 !important;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 5px;
    }
  }
}
