:root {
  --green: #002f34;
  --green-text: #002f34;
  --body-color: #f2f4f5;
  --muted-color: #c6c6c6;
  --muted-green-color: #406367;
  --black-text-color: #002f34;
  --white: #ffff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0 !important;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: inherit !important;
}

.ant-popover {
  padding: 0;
  position: absolute;
  width: 85% !important;
  margin: 0 auto;
  left: 0 !important;
  right: 0 !important;

  @media (max-width: 767px) {
    width: 95% !important;
  }
}
.ant-popover-inner-content {
  padding: 0 !important;
}
.ant-popover-arrow {
  display: none !important;
}
.ant-message {
  top: 80px !important;
  @media (max-width: 767px) {
    top: 10px !important;
  }
  .ant-message-notice {
    .ant-message-notice-content {
      background: var(--green);
      color: var(--white);
      border-radius: 4px;
      .ant-message-custom-content {
        .anticon {
          margin-right: 16px !important;
        }
      }
    }
  }
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-color);
  position: relative;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
